main {
  background-color: grey;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  #canvas {
    background-color: white;
    min-width: 320px;
    width: 320px;
    height: 320px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #canvas > div {
    width: 44%;
    height: 44%;
    background-color: red;
  }

  .squaretr {
    margin: 4% 2% 2% 4%;
  }

  .squaretl {
    margin: 4% 4% 2% 2%;
  }

  .squareb {
    margin: 2% auto 4%;
  }
}

@media (min-width: 400px) {
  #canvas {
    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 920px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  #canvas > div {
    position: relative;
    width: 28%;
    padding-top: 28%;
    margin: 4% 2%;
    background-color: red;
    /* display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center; */
  }
}

.circle {
  position: absolute;
  transform-origin: 25px 25px;
  top: 40%;
  right: 40%;
  width: 50px;
  height: 50px;
  /* padding-bottom: 50px; */
  border-radius: 25px;
  /* background-color: green; */
  background-color: white;
}

/* .triangle {
  align-self: flex-start;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  /* background-color: green; */
  /* background-color: white; */
/* } */
